import { defineFactory } from "@salimhamed/jigs";

export default defineFactory({
  service: { port: {{SERVICE_PORT}}, dashboardPort: {{DASHBOARD_PORT}} },
  // Public URL for provider webhooks.
  // ingressUrl: "https://<machine>.<tailnet>.ts.net",
  bindings: {},
  workflows: {
    ship: () => import("./workflows/ship.ts"),
  },
});
